body {
background-color:#eaeaea;
margin:0;
padding:0;
clear:both;
}

header {
  position:absolute;
  top:0;
  margin:0;
  padding:0;
  height: 70px;
  width:100%;
  background-color:#ccc;
  color:white;
  font-size:30px;
}

header ul li {
  list-style-type:none;
  display:inline;
  padding-right:20px;
}
