body {
background-color:#eaeaea;
margin:0;
padding:0;
clear:both;
}

header {
  position:absolute;
  top:0;
  margin:0;
  padding:0;
  height: 70px;
  width:100%;
  background-color:#ccc;
  color:white;
  font-size:30px;
  text-align:center;
}

header ul li {
  list-style-type:none;
  display:inline;
  padding-right:100px;
}

header ul li a {
  padding:10px;
  border-radius:10px;
  color:white;
  text-decoration:none;
}

header ul li a:visited {
   padding:10px;
  border-radius:10px;
  color:white;
  text-decoration:none;
}

header ul li a:hover {
   padding:10px;
  border-radius:10px;
   color:white;
  text-decoration:none;
  background-color:maroon;
}
