body {
background-color:#eaeaea;
margin:0;
padding:0;
clear:both;
}

header {
  position:absolute;
  top:0;
  margin:0;
  padding:0;
  height: 68px;
  width:100%;
  background-color:#ccc;
  color:white;
  font-size:30px;
  text-align:center;
}

header ul li {
  padding-top:0;
  list-style-type:none;
  display:inline;
  padding-right:100px;
}


header ul li a {
  height:50px;
  padding-top:0;
  padding-left:7px;
  padding-right:7px;
  border-radius:10px;
  color:white;
  text-decoration:none;
}

header ul li a:visited {
  height:50px;
  padding-top:0;
   padding-left:7px;
  padding-right:7px;
  border-radius:10px;
  color:white;
  text-decoration:none;
}

header ul li a:hover {
  height:50px;
  padding-top:0;
   padding-left:7px;
  padding-right:7px;
  border-radius:10px;
  color:white;
  text-decoration:none;
  border: 2px solid maroon;
}
